
extends ../base 

block title
    title Signup Page

block content

    div.container-fluid
        div.row
            div.container.bg-white.mt-5.col-md-5.p-5
                div.container.text-center.jumbotron.text-primary
                    h1 Sign Up
                    
                form(method = 'POST' action='/auth/signup')
                    div.form-group
                        label( for='email')  Email: 
                        input( type='email' placeholder= 'Enter email' name='email').form-control
                    div.form-group
                        label( for='name') Full Name: 
                        input( type='text' placeholder= 'Enter name ' name='name').form-control
                    div.form-group
                        label( for='password') Password: 
                        input( type='password' placeholder= 'Enter password' name='password').form-control
                    div.form-group
                        label( for='confirmPassword') Confirm Password: 
                        input( type='password' placeholder= 'Re-enter password' name='confirmPassword').form-control
                    div.form-group
                        label( for='confirmpassword') Address:
                        textarea( name = 'address').form-control
                    button.btn.btn-primary.w-100.p-3.mt-3 Submit
