extends base

block title
    title Home Page

block content
    div.container
        div.jumbotron.mt-5.bg-white
            .jumbotron.m-0
                h2.text-center.text-success Educayshun - Your Education Buddy !